

<div class= "container">
    <h2>ABOUT US</h2>

    <h3>Our Vision</h3>


    <p>
            We provide international flight bookings with direct access to the most highly flight booking system. <br>
            
            We offer online flight bookings for everyone through our system to any destination,<br> 
            
            Book a flight online, and you'll be able to save a lot of time by checking in online.<br>
            
            If you're flying domestic, you can check in as far in advance as 24 hours and as late as one hour before the flight.<br>
            
            We want to ensure that people get to book for a flight using the system, which is much easier.
       
        </p>
    </div>

    <footer>CREATED BY PATRICIA</footer>