

.look  button[type=submit]{
    background-color: rgb(224, 125, 125);
    text-align: center;
    margin: auto;
    font-size: 20px; 
    border-radius: 20px;
    padding: 12px 20px;


}


.look  input[type=text]{

    text-align: center;
    margin: auto;
    font-size: 15px;  
    border: solid;
    border-color: rgb(224, 125, 125); 

}



.look  select[name=userSelect]{

    text-align: center;
    margin: auto;
    font-size: 15px;  
    border: solid;
    border-color:  rgb(224, 125, 125); 

}



.look  select[name=userSelect1]{

    text-align: center;
    margin: auto;
    font-size: 15px;  
    border: solid;
    border-color:  rgb(224, 125, 125); 

}



.look  input[type=date]{

    text-align: center;
    margin: auto;
    font-size: 15px;  
    border: solid;
    border-color: rgb(224, 125, 125) ; 

}

.look  input[type=time]{

    text-align: center;
    margin: auto;
    font-size: 15px;  
    border: solid;
    border-color: rgb(224, 125, 125) ; 

}





footer{
    border: 1px groove;
    background: rgb(226, 97, 97); 
    color: white;
    bottom: 0px;
    width: 100%;
    position: fixed;
    vertical-align: middle;
    text-align: center;
    line-height: normal;
    padding-left: 5px;
    

}

